{{#with @data as |skillGroups|}}
  <section id="skills">
    <h1>Skills</h1>
    {{#if @config.grouped}}
      {{#each skillGroups as |group|}}
        <Rendered::Skills::SkillGroup @group={{group}} @config={{@config}} />
      {{/each}}
    {{else}}
      {{#with (get (get skillGroups 0) "skills") as |skills|}}
        <Rendered::Skills::SkillList
            @skills={{skills}}
            @withDescription={{@config.withDescription}}
            @showLevel={{@config.showLevel}}
        />
      {{/with}}
    {{/if}}
  </section>
{{/with}}
